#headerTable td.key, 
#headerTable th.key {
    width: 30%;
}

#jsonColumn {
        white-space: pre;
        font-size:0.8em;
}

@media (min-width: 1200px) {
    .container-fluid {
        width:85%;
    }

    #jsonColumn {
        font-size:0.9em !important;
        white-space: pre;
    }
}
